@import '_keyframes';

.header{
    width: 100%;
    height: 5em;
    background-color: black;
    background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(24,24,24,1) 100%);
    padding: 1em 1.5em;
    position: fixed;
    top: 0;
    z-index: 3;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    animation: slideDown 1s ease 1 4s both;

    &__btn{}
    &__svg{
        width:1.2em;
        height:1.2em;
        fill: white;
    }
    &__h1{
        font-size: 2em;
        max-width: 5.37em;
        @media screen and  (max-width:43.75em){
            max-width: 4em;
        }
    }
    &__logo{}
    &__forbes{}
}
